<body>
    <!-- Jumbotron Section -->
    <section id="home">
      <div class="jumbotron">
        <div class="container">
          <h1>Welcome to Your Website</h1>
          <p>This is a simple and responsive website template built with Bootstrap.</p>
          <a href="#" class="btn btn-primary btn-lg">Learn More</a>
        </div>
      </div>
    </section>
  
    <!-- About Section -->
    <section id="about" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus enim sit amet augue malesuada, vel pellentesque metus suscipit. Aliquam eget libero sit amet quam condimentum ullamcorper.</p>
            <a href="#" class="btn btn-secondary">Read More</a>
          </div>
          <div class="col-md-6">
            <img src="https://via.placeholder.com/500" alt="About Us Image" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
  </body>
  